{% extends "base.html" %}
{% block content %}

<div>
    <form action="/drivers/account/" method="POST">
        <p>
        <label for="name">Name:</label>
        <input type="text" name="name" value = {{ current_user.name }}>
        </p>
        <p>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value = {{ current_user.last_name }}>
        </p>
        <p>
        <label for="DOB">Date of Birth:</label>
        <input type="text" name="DOB" value = {{ current_user.DOB }}> 
        </p>
        <p>
        <label for="gender">Gender:</label>
        <input type="text" name="gender" value = {{ current_user.gender }}>            
        </p>
        <p>
        <label for="email">Email:</label>
        <input type="text" name="email" value = {{ current_user.email }}>           
        </p>
        <p>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password...">
        </p>





        <button>Update</button>
    </form>

    <p>User is driver: {% if current_user.is_driver  %} yes {% else %} no {% endif %}
    <br><br>

    <h3>Enrolled Courses:</h3>
    <ul>
        {% for course in current_user.enrolled_courses %}
            <li><a href="/courses/{{ course.course_id }}/">{{ course.course_name }}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}