{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.driver.user_id.name }}</h2>
    <br>
    <div>
        Email address: {{ page_data.driver.user_id.email }}
    </div>
    <br>
    <div>
        Driver ID: {{ page_data.driver.driver_id }}
    </div>
    <div>
    {% if current_user.drivers[0].driver_id == page_data.driver.driver_id %}
        <form action = "/drivers/{{ page_data.driver.driver_id }}/delete/", method="POST">
            <button>DELETE PROFILE</button>
        </form>
    {% endif %}
    </div>
{% endblock %}