{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Driver</h2>
        <!-- Presents error that is generated when the user attempt to accept a ride
            if they dont have a driver account.-->
        <p style="color:red;"> {{ page_data.error_message }} </p>
        <div>
            <form action="/drivers/" method="POST">


                <button>Create driver profile</button>
                <!-- Presents error that is generated when the user attempt to create driver account when they already have one.-->
                <p style="color:red;"> {{ page_data.existing_driver_error }} </p>
            </form>
        </div>
    </div>
    <br/>
    <h2>List of registered drivers</h2>
    <table class="table table-sdrivered table-bordered">
        <thead>
            <tr>    
                <th>Driver ID number</th>
                <th>Driver name</th>
                <th>Driver email</th>
 
            </tr>
        </thead>

        <!-- For loop to generate list of drivers in data base -->
        {% for driver in page_data.drivers %}

        <tbody>
            <tr>
                <td>
                    <a href="/drivers/{{ driver.driver_id }}/"> ID : {{ driver.driver_id }}</a>
                </td>
                <td>
                    Name: {{ driver.user_id.name }}                  
                </td>
                <td> 
                    Email address: {{ driver.user_id.email }}
                </td>
            </tr>
 
        </tbody>
        {% endfor %}
    </table>
{% endblock %}