{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.rider.user_id.name }}</h2>
    <img src="{{ page_data.image }}" style="width: 250px">
    <p>Rider ID: {{ page_data.rider.rider_id }}</p>
    <p>User profile information: {{ page_data.rider }}</p>
    <!-- <form action="/riders/{{ page_data.rider.rider_id }}/enrol/" method="POST">
        <button>Enrol</button>
    </form>
    <form action="/riders/{{ page_data.rider.rider_id }}/drop/" method="POST">
        <button>Un-Enrol</button>
    </form>
    <br><br>
    
    <h3>Update Rider Info:</h3>
    <form action="/riders/{{ page_data.rider.rider_id }}/", method="POST">
 
        <button>Update</button>
    </form>

    <br><br>

    <h3>Update Image:</h3>
    <form action="/riders/{{ page_data.rider.rider_id }}/image/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>


    <br/><br/>
     -->
    <form action = "/riders/{{ page_data.rider.rider_id }}/delete/", method="POST">
        <button>DELETE PROFILE</button>
    </form>

{% endblock %}