{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Rider</h2>
        <p style="color:red;"> {{ page_data.error_message }} </p>
        <div>
            <form action="/riders/" method="POST">


                <button>Create rider profile</button>
                <p style="color:red;"> {{ page_data.existing_rider_error }} </p>
            </form>
        </div>
    </div>
    <br/>
    <h2>List of registered riders</h2>
    <table class="table table-sridered table-bordered">
        <thead>
            <tr>    
                <th>Rider ID number</th>
                <th>Rider name</th>
                <th>Rider email</th>
 
            </tr>
        </thead>
        {% for rider in page_data.riders %}

        <tbody>
            <tr>
                <td>
                    <a href="/riders/{{ rider.rider_id }}/"> ID : {{ rider.rider_id }}</a>
                </td>
                <td>
                    Name: {{ rider.user_id.name }}                  
                </td>
                <td> 
                    Email address: {{ rider.user_id.email }}
                </td>
            </tr>
 
        </tbody>
        {% endfor %}
    </table>
{% endblock %}