{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.rider.user_id.name }}</h2>
    <br>
    <div>
        Email address: {{ page_data.rider.user_id.email }}
    </div>
    <br>
    <div>
        Rider ID: {{ page_data.rider.rider_id }}
    </div>
    <div>
        <!-- Checks is the user has a driver profile prior to trying to display content.
        this helps prevent load errors-->
        {% if current_user.riders %}
            {% if current_user.riders[0].rider_id == page_data.rider.rider_id %}
                <form action = "/riders/{{ page_data.rider.rider_id }}/delete/", method="POST">
                    <button>DELETE PROFILE</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}