{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Trip</h2>
        <div>
            <form action="/trips/" method="POST">
                <input type="text" name="pick_up" placeholder="Pick Up location"/>
                to
                <input type="text" name="destination" placeholder="Destination"/>
                <button>Lets Go!</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Waiting to be accepted</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>    
                <th>Ride number</th>
                <th>Ride requestor ID number</th>
                <th>Ride journey</th>
                <th>Ride Cost</th>
                <th>Driver accept ID number</th>
            </tr>
        </thead>
        {% for trip in page_data.trips %}
        <tbody>
            <tr>
                <td>
                    <a href="/trips/{{ trip.trip_id }}/">{{ trip.trip_id }}</a>
                </td>
                <td>
                    {% if trip.creator.rider_id %}
                        <p>Rider number: {{ trip.creator.rider_id }}</p>
                        <p>Rider Name: <a href="/riders/{{ trip.creator.rider_id }}/">{{ trip.creator.user_id.name }}</a></p>
                    {% else %}
                        <p>Rider profile has been deleted </p>           
                    {% endif %}

                </td>                
                <td>
                    {{ trip.destination }} to {{ trip.pick_up }}
                </td>
                <td>
                    ${{ trip.cost }}
                </td>
                <td>
                {% if trip.acceptor %}
                
                <p>Driver number: {{ trip.acceptor.driver_id }}</p>
                <p>Driver Name: <a href="/drivers/{{ trip.acceptor.driver_id }}/">{{ trip.acceptor.user_id.name }}</a></p>


                {% else %}
                    <form action="/trips/{{ trip.trip_id }}/accept/" method="POST">
                        <button>Accept</button>
                    </form>
                {% endif %}
                </td>

            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}