{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Trip</h2>
        <div>
            <form action="/trips/" method="POST">
                <input type="text" name="trip_name" placeholder="Trip Name..."/>
                <input type="text" name="description" placeholder="Description..."/> 
                <input type="number" name="cost" placeholder="Cost..."/>
                <button>Create</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Trip List</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>    
                <th>Trip Name</th>
                <th>Trip Description</th>
            </tr>
        </thead>
        {% for trip in page_data.trips %}
        <tbody>
            <tr>
                <td>
                    <a href="/trips/{{ trip.trip_id }}/">{{ trip.trip_name }}</a>
                </td>
                <td>
                    {{ trip.description }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}

