{% extends "base.html" %}
{% block content %}

    <div>
        <h2>Come join the Ride Share team of riders and drivers :</h2>
        <form action="/users/signup/" method="POST">

            <input type="text" name="name" placeholder="Name...">
            <br>
            <br>
            <input type="text" name="email" placeholder="Email..."> 
            <p style="color:red;"> {{ page_data.email_error }} </p>
            <br>
            <input type="password" name="password" placeholder="Password...">
            <br>
            <br>
            <button>Sign Up</button>
        </form>
    </div>

{% endblock %}