{% extends "base.html" %}
{% block content %}

<div>
    <form action="/users/account/" method="POST">
        
        <label for="name">Name:</label>
        <input type="text" name="name" value = {{ current_user.name }}>

        <label for="email">Email:</label>
        <input type="text" name="email" value = {{ current_user.email }}>

        <button>Update</button>
    </form>

    <p>{% if current_user.riders  %}

        <form action = "/riders/{{ current_user.riders[0].rider_id }}/delete/", method="POST">
        <label> <a href="/riders/{{ current_user.riders[0].rider_id }}/">Rider ID: {{ current_user.riders[0].rider_id }}</a></label>
        <button>Delete Rider Profile</button>
        </form>
        {% else %} 
        <form action="/riders/" method="POST">
        <button>Become A Rider</button>  
        </form>
        {% endif %}

    <p>{% if current_user.drivers  %}

        <form action = "/drivers/{{ current_user.drivers[0].driver_id }}/delete/", method="POST">
        <label> <a href="/drivers/{{ current_user.drivers[0].driver_id }}/">Rider ID: {{ current_user.drivers[0].driver_id }}</a></label>
        <button>Delete Rider Profile</button>
        </form>
        {% else %} 
        <form action="/drivers/" method="POST">
        <button>Become A Driver</button>  
        </form>
        {% endif %}
        

    <br><br>

    <h3>Enrolled Riders:</h3>
    <ul>
        {% for rider in current_user.enrolled_riders %}
            <li><a href="/riders/{{ rider.rider_id }}/">{{ rider.rider_id }}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}