{% extends "base.html" %}
{% block content %}

<div>
    <form action="/users/account/" method="POST">
        
        <label for="name">Name:</label>
        <input type="text" name="name" value = {{ current_user.name }}>

        <label for="email">Email:</label>
        <input type="text" name="email" value = {{ current_user.email }}>

        <button>Update</button>
    </form>

    <p>User is user: {% if current_user.is_user  %} yes {% else %} no {% endif %}
        { current_user.}
    <br><br>

    <h3>Enrolled Trips:</h3>
    <ul>
        {% for trip in current_user.enrolled_trips %}
            <li><a href="/trips/{{ trip.trip_id }}/">{{ trip.trip_name }}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}