{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.vehicle.pick_up }}</h2>
    <img src="{{ page_data.image }}" style="width: 250px">
    <p>Vehicle ID: {{ page_data.vehicle.vehicle_id }}</p>
    <p>destination: {{ page_data.vehicle.destination }}</p>
    <p>Cost: {{ page_data.vehicle.cost }}</p>
    <p>Creator: {{ page_data.vehicle }} ({{ page_data.vehicle.creator }})</p>
    <p> {{ current_user.riders[0].rider_id }} </p>
    <form action="/vehicles/{{ page_data.vehicle.vehicle_id }}/enrol/" method="POST">
        <button>Enrol</button>
    </form>
    <form action="/vehicles/{{ page_data.vehicle.vehicle_id }}/drop/" method="POST">
        <button>Un-Enrol</button>
    </form>
    <br><br>
    
    <h3>Update Vehicle Info:</h3>
    <form action="/vehicles/{{ page_data.vehicle.vehicle_id }}/", method="POST">
        <input type="text" name="pick_up" placeholder="Pick Up location"/>
        <input type="text" name="destination" placeholder="Destination"/>  
        <button>Update</button>
    </form>

    <br><br>

    <h3>Update Image:</h3>
    <form action="/vehicles/{{ page_data.vehicle.vehicle_id }}/image/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>


    <br/><br/>
    
    <form action = "/vehicles/{{ page_data.vehicle.vehicle_id }}/delete/", method="POST">
        <button>DELETE TRIP</button>
    </form>

{% endblock %}