{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Vehicle</h2>
        <div>
            <form action="/vehicles/" method="POST">
                <input type="text" name="make" placeholder="make"/>
                <input type="text" name="model" placeholder="model"/>
                <input type="text" name="year" placeholder="year"/>
                <input type="text" name="rego" placeholder="rego"/>

                <button>Create</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Waiting to be accepted</h2>
    <table class="table table-svehicleed table-bordered">
        <thead>
            <tr>    
                <th>Vehicle ID</th>
                <th>Vehicle Driver</th>
                <th>Vehicle Make</th>
                <th>Vehicle Model</th>
                <th>Vehicle Rego</th>
                <th>Vehicle Year</th>
            </tr>
        </thead>
        {% for vehicle in page_data.vehicles %}
        <tbody>
            <tr>
                <td>
                    <a href="/vehicles/{{ vehicle.vehicle_id }}/">{{ vehicle.vehicle_id }}</a>
                </td>
                <td>
                    {{ vehicle.vehicle_driver.user_id }}
                </td>
                <td>
                    {{ vehicle.make  }}
                </td>
                <td>
                    {{ vehicle.model }}
                </td>
                <td>
                    {{ vehicle.rego }}
                </td>               
                <td>
                    {{ vehicle.year }}
                </td>


            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}